<div layout="row" >
    <div flex="15" id="left">
        <!--Sidebar content-->
        <div class="left-sidebar">
            keyword: <input type="text" class="form-control" ng-model="query">
            <br/>
            <!--Sort by:-->
            <!--<select ng-model="orderProp">-->
                <!--<option value="name">Alphabetical</option>-->
                <!--<option value="age">Newest</option>-->
            <!--</select>-->
        </div>
    </div>
    <div flex="70">
        <!--Body content-->
        <div>
            <ul class="phones">
                <li dir-paginate="phone in phones | filter:query  | itemsPerPage: 10"
                    class="thumbnail">
                    <a href="/tutor/{{phone._id}}" class="thumb"></a>
                    <a href="/tutor/{{phone._id}}">{{phone.fullName}}</a>
                    <p>{{phone.majorSubject + ' , ' + phone.university}}</p>
                </li>
            </ul>

            <div class="text-center">
                <dir-pagination-controls template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <div flex id="right">
        <div id="outer" ng-controller="chatCtrl">
            <div class="chat-sidebar">
                <div class="sidebar-name" ng-repeat="people in onlineList">
                    <!-- Pass username and display name to register popup -->
                    <a href="#" ng-click="register_popup(people.email, people.name)">

                        <img width="30" height="30" />
                        <span>{{people.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>