

<div class="container" ng-controller="tutorHomeCtrl">
    <div class="row">

        <div class="col-md-6">

            <h1 class="form-signin-heading">Your profile</h1>

            <form  class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Full name</label>
                    <p class="form-control-static">{{ vm.user.fullName }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <p class="form-control-static">{{ vm.user.email }}</p>
                </div>
            </form>

        </div>

    </div>
</div>





<div id ="outer" ng-controller="tutorChatCtrl">
    <div class="chat-sidebar">
        <div class="sidebar-name">
            <!-- Pass username and display name to register popup -->
            <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                <img width="30" height="30" />
                <span>Narayan Prusty</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('qnimate', 'QNimate');">
                <img width="30" height="30" />
                <span>QNimate</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('qscutter', 'QScutter');">
                <img width="30" height="30"  />
                <span>QScutter</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('qidea', 'QIdea');">
                <img width="30" height="30"  />
                <span>QIdea</span>
            </a>
        </div>
        <div class="sidebar-name">
            <a href="javascript:register_popup('rakib13th@yahoo.com', 'Rakib');">
                <img width="30" height="30"  />
                <span>Rakib</span>
            </a>
        </div>
    </div>
</div>