<div  layout="row">
    <div flex = "80" style="padding-left: 2%;">
        <!--<div class="tooltip-demo well">-->


        <div class="row-fluid sortable">
            <div class="box span9">
                <div class="box-header">
                    <h2><i class="halflings-icon font"></i><span class="break"></span>Dashboard</h2>
                </div>
                <div class="box-content">
                    <div class="page-header">
                        <h1>Schedules: <small>This is your dashboard , Here you can see your upcoming schedule</small></h1>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h3>You have a schedule with John Doe at 9:PM today</h3>

                        </div>

                    </div><!--/row -->


                </div>
            </div><!--/span-->
        </div>
        <!--</div>-->
        <div class="container" ng-controller="tutorHomeCtrl" id="left">
        </div>
    </div>

    <div flex>
        <div id ="outer" ng-controller="tutorChatCtrl">
            <div class="chat-sidebar">
                <div class="sidebar-name" ng-repeat="people in onlineList">
                    <!-- Pass username and display name to register popup -->
                    <a href="#" ng-click="register_popup(people.email, people.name)">

                        <img width="30" height="30" />
                        <span>{{people.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>