<div layout="row" >
    <div flex="15" id="left">
        <!--Sidebar content-->
        <div class="left-sidebar">
            keyword: <input type="text" class="form-control" ng-model="query">
            <br/>
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>
    </div>
    <div flex="70">
        <!--Body content-->
        <div>
            <ul class="phones">
                <li dir-paginate="phone in phones | filter:query | orderBy:orderProp | itemsPerPage: 10"
                    class="thumbnail">
                    <a href="/tutor/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"
                                                                     alt="{{phone.name}}"></a>
                    <a href="/tutor/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

            <div class="text-center">
                <dir-pagination-controls template-url="js/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>>
    </div>
    <div flex id="right">
        <div id="outer" ng-controller="chatCtrl">
            <div class="chat-sidebar">
                <div class="sidebar-name">
                    <!-- Pass username and display name to register popup -->
                    <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                        <img width="30" height="30"/>
                        <span>Narayan Prusty</span>
                    </a>
                </div>
                <div class="sidebar-name">
                    <a href="javascript:register_popup('qnimate', 'QNimate');">
                        <img width="30" height="30"/>
                        <span>QNimate</span>
                    </a>
                </div>
                <div class="sidebar-name">
                    <a href="javascript:register_popup('qscutter', 'QScutter');">
                        <img width="30" height="30"/>
                        <span>QScutter</span>
                    </a>
                </div>
                <div class="sidebar-name">
                    <a href="javascript:register_popup('qidea', 'QIdea');">
                        <img width="30" height="30"/>
                        <span>QIdea</span>
                    </a>
                </div>
                <div class="sidebar-name">
                    <a href="javascript:register_popup('mahfujhowlader@gmail.com', 'Mahfuj');">
                        <img width="30" height="30"/>
                        <span>Mahfuj</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>