

<div class=".col-md-12">
<div class="row">
<div class='typeahead-demo' ng-controller="TypeaheadCtrl">
	<div class="heading">
    <h4>Find A Tutor</h4>
	</div>
    <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

    
</div>
<div class="row">
<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
</div>
</div>
<div class="row">


    <div class="col-md-3">
      <!--Sidebar content-->

      keyword: <input ng-model="query">
	  <br/>
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-9">
      <!--Body content-->

      <ul class="phones">
        <li dir-paginate="phone in phones | filter:query | orderBy:orderProp | itemsPerPage: 10"  class="thumbnail">
          <a href="/tutors/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
          <a href="/tutors/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
	
	<div class="text-center">
          <dir-pagination-controls template-url="js/dirPagination.tpl.html"></dir-pagination-controls>
    </div>


</div>
</div>